html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container{
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.flex-container > div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #DAA520;
}

.flex-container > div:nth-child(3){
    align-self: flex-end;
}

.flex-container > div:nth-child(even){
    align-self: center;
}